<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bart</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin">
  <form action="/calculate" method="POST">
      <h1 class="h3 mb-3 fw-normal" style="margin-left: 10px; font-size: 24px;">Bay Area Rapid Transit</h1>
  

    <div class="form-floating">
      <select name="source" class="form-select" id="floatingSelect" aria-label="Select source">
        <option selected>Select source</option>
        <option value="0">South San Francisco</option>
        <option value="1">San Bruno</option>
        <option value="2">San Francisco International Airport</option>
        <option value="3">Millbrae</option>
        <option value="4">West Dublin/Pleasanton</option>
        <option value="5">Richmond</option>
        <option value="6">Del Norte</option>
        <option value="7">El Cerrito Plaza</option>
        <option value="8">North Berkeley</option>
        <option value="9">Downtown Berkeley</option>
        <option value="10">Ashby</option>
        <option value="11">MacArthur</option>
        <option value="12">19th Street Oakland</option>
        <option value="13">12th Street Oakland</option>
        <option value="14">Lake Merritt</option>
        <option value="15">Fruitvale</option>
        <option value="16">Coliseum</option>
        <option value="17">San Leandro</option>
        <option value="18">Bay Fair</option>
        <option value="19">Hayward</option>
        <option value="20">South Hayward</option>
        <option value="21">Union City</option>
        <option value="22">Fremont</option>
        <option value="23">Castro Valley</option>
        <option value="24">Dublin/Pleasanton</option>
        <option value="25">Pittsburg/Bay Point</option>
        <option value="26">North Concord/Martinez</option>
        <option value="27">Colma</option>
        <option value="28">Concord</option>
        <option value="29">Pleasant Hill</option>
        <option value="30">Walnut Creek</option>
        <option value="31">Lafayette</option>
        <option value="32">Orinda</option>
        <option value="33">Rockridge</option>
        <option value="34">West Oakland</option>
        <option value="35">Embarcadero</option>
        <option value="36">Montgomery Street</option>
        <option value="37">Powell Street</option>
        <option value="38">Civic Center</option>
        <option value="39">16th Street Mission</option>
        <option value="40">24th Street Mission</option>
        <option value="41">Glen Park</option>
        <option value="42">Balboa Park</option>
        <option value="43">Daly City</option>
        <option value="44">Oakland City Center/12th St</option>
        <option value="45">Warm Springs/South Fremont</option>
        <option value="46">Milpitas</option>
        <option value="47">Berryessa/North San Jose</option>
        <option value="48">Pittsburg Center</option>
        <option value="49">Antioch</option>
      </select>
      
      <label for="floatingSelect">Source</label>
    </div>
    <div class="form-floating">
      <select name="destination" class="form-select" id="floatingSelect" aria-label="Select destination">
        <option selected>Select destination</option>
        <option value="0">South San Francisco</option>
        <option value="1">San Bruno</option>
        <option value="2">San Francisco International Airport</option>
        <option value="3">Millbrae</option>
        <option value="4">West Dublin/Pleasanton</option>
        <option value="5">Richmond</option>
        <option value="6">Del Norte</option>
        <option value="7">El Cerrito Plaza</option>
        <option value="8">North Berkeley</option>
        <option value="9">Downtown Berkeley</option>
        <option value="10">Ashby</option>
        <option value="11">MacArthur</option>
        <option value="12">19th Street Oakland</option>
        <option value="13">12th Street Oakland</option>
        <option value="14">Lake Merritt</option>
        <option value="15">Fruitvale</option>
        <option value="16">Coliseum</option>
        <option value="17">San Leandro</option>
        <option value="18">Bay Fair</option>
        <option value="19">Hayward</option>
        <option value="20">South Hayward</option>
        <option value="21">Union City</option>
        <option value="22">Fremont</option>
        <option value="23">Castro Valley</option>
        <option value="24">Dublin/Pleasanton</option>
        <option value="25">Pittsburg/Bay Point</option>
        <option value="26">North Concord/Martinez</option>
        <option value="27">Colma</option>
        <option value="28">Concord</option>
        <option value="29">Pleasant Hill</option>
        <option value="30">Walnut Creek</option>
        <option value="31">Lafayette</option>
        <option value="32">Orinda</option>
        <option value="33">Rockridge</option>
        <option value="34">West Oakland</option>
        <option value="35">Embarcadero</option>
        <option value="36">Montgomery Street</option>
        <option value="37">Powell Street</option>
        <option value="38">Civic Center</option>
        <option value="39">16th Street Mission</option>
        <option value="40">24th Street Mission</option>
        <option value="41">Glen Park</option>
        <option value="42">Balboa Park</option>
        <option value="43">Daly City</option>
        <option value="44">Oakland City Center/12th St</option>
        <option value="45">Warm Springs/South Fremont</option>
        <option value="46">Milpitas</option>
        <option value="47">Berryessa/North San Jose</option>
        <option value="48">Pittsburg Center</option>
        <option value="49">Antioch</option>
      </select>
      <label for="floatingSelect">Destination</label>
    </div>


    <style>
      /* add space between the two divs */
      .form-floating + .form-floating {
        margin-top: 30px;
      }

      .form-floating {
    margin-bottom: 20px;
  }
      .form-floating:last-child {
    margin-bottom: 20px;
  }

  button {
        margin-bottom: 20px; 
    }

  .btn-custom {
  background-color: #009ddc;
  color: white; /* sets the text color to white */
}

    </style>
    <button class="w-100 btn btn-lg btn-custom" type="submit">Travel Time and Fare</button>  
    
  </form>
  <form action="/bart-ridership" method="POST">
    <button class="w-150 btn btn-lg btn-custom" type="submit">Bart Ridership Prediction</button>
  </form>
</main>
  </body>
</html>
